
@{
    Layout = null;
}

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>微信公众平台</title>
    <script type="text/javascript">window._points = [+new Date];// 初始测速点</script>
    <link rel="stylesheet" type="text/css" href="//res.wx.qq.com/promotion/res/zh_CN/htmledition/comm_htmledition/style/base/layout_head.css">
    <link rel="stylesheet" type="text/css" href="//res.wx.qq.com/promotion/res/zh_CN/htmledition/comm_htmledition/style/base/base.css">
    <link rel="stylesheet" type="text/css" href="//res.wx.qq.com/promotion/res/zh_CN/htmledition/comm_htmledition/style/base/lib.css">
    <style type="text/css">
        .pop_ad_helper .popover_arrow {
            left: 280px;
            margin-top: -8px;
        }
    </style>
    <link charset="utf-8" rel="stylesheet" href="https://res.wx.qq.com/promotion/res/zh_CN/htmledition/comm_htmledition/style/biz_web/widget/dropdown.css?20150917">
    <link charset="utf-8" rel="stylesheet" href="https://res.wx.qq.com/promotion/res/zh_CN/htmledition/comm_htmledition/style/biz_web/widget/date_range.css?20150917">
    <link charset="utf-8" rel="stylesheet" href="https://res.wx.qq.com/promotion/res/zh_CN/htmledition/comm_htmledition/style/widget/pagination.css?20150917">
</head>
<body class="zh_CN">
    <div id="body" class="body container_box">
        <link href="~/Content/css/mpres/htmledition/adSystem/adSystem_common.css" rel="stylesheet" />
        <link href="~/Content/css/mpres/htmledition/adSystem/ad_sell.css" rel="stylesheet" />
        <link href="~/Content/css/mpres/htmledition/adSystem/button_group.css" rel="stylesheet" />
        <link href="~/Content/css/mpres/htmledition/adSystem/style-moment-edit-template.5b7682da.css" rel="stylesheet" />

        <script type="text/javascript">window._points[1] = +new Date;// css加载完成</script>
        <div class="main_hd">
            <h2>流量主</h2>
            <div id="topTab" class="title_tab" style="margin-top: 0px;">
                <ul class="mod-frame__tab-nav" data-index="0">
                    <li data-index="0" class="mod-frame__tab-item first js_top" data-id="adhostreport">
                        <a class="mod-frame__tab-link" href="/Publisher/Readtemplate?t=ad_system/common_frame&amp;t1=publisher/host_report&amp;token=903939300" target="mpIFrame">报表统计</a>
                    </li>
                    <li data-index="2" class="mod-frame__tab-item  js_top" data-id="adhostmanage" style="">
                        <a class="mod-frame__tab-link" href="/promotion/readtemplate?t=ad_system/common_frame&amp;t1=publisher/host_manage&amp;token=903939300" target="mpIFrame">
                            流量管理
                        </a>
                    </li>
                    <li data-index="3" class="mod-frame__tab-item  js_top  mod-frame__tab-item_current" data-id="adhostpay"><a class="mod-frame__tab-link" href="/Promotion/Readtemplate_t?t=ad_system/common_frame&amp;t1=publisher/host_pay&amp;token=903939300" target="mpIFrame">财务管理</a></li>
         </ul>
            </div>
            <p class="extra_info mini_tips">
                <label class="mini_tips icon_after" id="js_ad_helper" data-flag="host">帮助<i class="icon_msg_mini ask"></i></label>
            </p>
            <div class="highlight_box">
                <ul class="links">
                    <li class="links_item jsNav1 no_extra"><a id="income_link" href="/Promotion/Readtemplate_t?t=ad_system/common_frame&amp;t1=publisher/host_pay&amp;lang=zh_CN&amp;type=income&amp;action=ad_host_pay&amp;token=1101865807" target="mpIFrame">收入数据</a></li>
                    <li class="links_item jsNav2 selected"><a id="flow_link" href="/Promotion/Readtemplate_t1?t=ad_system/common_frame&amp;t1=publisher/host_pay&amp;lang=zh_CN&amp;type=flow&amp;action=ad_host_pay&amp;token=1101865807" target="mpIFrame">结算数据</a></li>
                </ul>
            </div>
        </div>
        <div class="main_bd finance_manage_page" id="js_income_form" style="display:none;">
            <!--截止日期-->
            <div class="wrp_sub_ads_data pt_none">
                <div class="sub_ads_data ">
                    <span id="">
                        当日数据仅供参考，请以前一天数据为准。
                    </span>
                </div>
            </div>
            <!--收入概况-->
            <div class="key_info_box">
                <div class="inner">
                    <div class="info_hd">
                        <h4 class="">收入概况</h4>
                    </div>
                    <div class="info_bd">
                        <div class="basic_data_wrapper">
                            <ul class="basic_data_list">
                                <li class="basic_data_item first_data_item">
                                    <p class="basic_data_key">昨日收入（元）</p>
                                    <p class="basic_data_val totalVal" id="js_income_today"></p>
                                </li>
                                <li class="basic_data_item last">
                                    <p class="basic_data_key">累计收入（元）</p>
                                    <p class="basic_data_val totalVal" id="js_total_income"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--收入明细-->
            <div class="key_info_box wrp_keywords_chart finance_chart">
                <div class="inner br_bottom_none">
                    <div class="info_hd with_tabs br_bottom_none">
                        <div class="title_tab">
                            <h4>收入明细</h4>
                            <div class="wrp_select_days r">
                                <div class="button_group in_info_box">
                                    <div class="td_data_container btn_group_item no_extra">
                                        <!--<span class="days jsDay selected" id="aRecent7Days">7天</span>
                                        <span class="days jsDay" id="aRecent15Days">15天</span>
                                        <span class="days jsDay" id="aRecent30Days">30天</span>-->
                                        <div class="date_nav ver_middle" id="dateRangeDetail"></div>
                                        <!--<a href="javascript:;"class="btn btn_default btn_mini hd_download" id="js_detail_down" style="display:none;">下载报表</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrp_tab1" id="detail">
                        <div class="wrp_income">
                            <table class="tab_keywords_chart table_1 jsDetail" cellspadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>日期</th>
                                        <th class="wrp_th_opr th_last">收入（元）</th>
                                    </tr>
                                </thead>
                                <tbody id="detailList"></tbody>
                            </table>
                            <p class="no_data br_bottom" id="noListDetail" style="display:none;">暂无数据</p>
                            <div class="turn_page pos_right br_bottom dn" id="pageBarDetail"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="main_bd finance_manage_page" id="js_withdraw_form" style="">
            <!--
            <div class="top_sub_nav">
                <a  class="sub_menu_item  jsNav1" href="/merchant/ad_host_pay?action=ad_host_pay&t=ad_system/host_pay&token=1101865807&lang=zh_CN&type=income">收入数据</a>
               <a class="sub_menu_item selected last jsNav2" href="/merchant/ad_host_pay?action=ad_host_pay&t=ad_system/host_pay&token=1101865807&lang=zh_CN&type=flow">结算数据</a>
            </div>
            -->
            <!--结算概况-->
            <div class="key_info_box mt_mile">
                <div class="inner">
                    <div class="info_hd">
                        <h4 class="">结算概况</h4>
                    </div>
                    <div class="info_bd">
                        <div class="basic_data_wrapper">
                            <ul class="basic_data_list">
                                <li class="basic_data_item first_data_item">
                                    <p class="basic_data_key">未结算金额（元）</p>
                                    <p class="basic_data_val totalVal" id="js_un_income">@ViewBag.costMoney</p>
                                </li>
                                <li class="basic_data_item last sizeof2">
                                    <p class="basic_data_key">
                                        已结算金额（元）
                                        <!--<i class="icon_msg_mini ask" id="js_flow_tip" data-tips="_('个人xxxxx')<br>_('企业xxxxx')" data-x="-123" data-y="5"></i>-->
                                    </p>
                                    <p class="basic_data_val totalVal" id="js_tdo_income">@ViewBag.costMoney1</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="key_info_box wrp_keywords_chart finance_chart host_data">
                <div class="inner br_bottom_none">
                    <div class="info_hd with_tabs">
                        <div class="title_tab">
                            <ul class="tab_navs l">
                                <li class="tab_nav" data-value="detail">
                                    <a href="javascript:;">结算记录</a>
                                </li>
                            </ul>
                            <div class="wrp_select_days r">
                                <div class="button_group in_info_box">
                                    <div class="td_data_container btn_group_item no_extra">
                                        <div class="date_nav ver_middle" id="dateRangeFlow">
                                            <div class="ta_date" id="div_js_dateRangeTitle0">
                                                <span class="date_title" id="js_dateRangeTitle0">2017-02-15 至 2017-05-15</span><a class="opt_sel" id="js_dateRangeTrigger0" href="#"><i class="i_orderd"></i></a>
                                            </div>
                                            <label class="contrast" for="needCompare_1494850881863" style="display: none;"><input class="pc" name="needCompare_1494850881863" id="needCompare_1494850881863" value="1" disabled="disabled" type="checkbox">对比</label>
                                            <div class="ta_date" id="div_compare_js_dateRangeTitle0" style="display: none;">
                                                <span name="dateCompare" id="js_dateRangeTitle0Compare" class="date_title" style="display: none;"></span>
                                                <a class="opt_sel" id="compare_trigger" href="#">
                                                    <i class="i_orderd"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!--<a href="javascript:;"class="btn btn_default btn_mini hd_download" id="" style="display:none;">下载报表</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrp_tab2" id="flow">
                        <div class="info_bd">
                            <div class="wrp_income">
                                <table class="tab_keywords_chart table_2" cellspadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>日期</th>
                                            <th class="wrp_th_opr th_last">结算金额（元）</th>
                                        </tr>
                                    </thead>
                                    <tbody id="flowList"></tbody>
                                </table>
                                <p class="no_data br_bottom" id="noListFlow">暂无数据</p>
                                <div class="turn_page pos_right br_bottom dn" id="pageBarFlow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--结算规则-->
            <div class="key_info_box">
                <div class="inner">
                    <div class="info_hd">
                        <h4 class="">结算规则</h4>
                    </div>
                    <div class="info_bd wrp_rule">
                        <ul class="rule_list">
                            <li>
                                <label>结算账户名</label>
                                <div class="frm_div"><span id="js_account_name">潘惠权</span></div>
                            </li>
                            <li>
                                <label>结算银行卡</label>
                                <div class="frm_div"><span id="js_bank_name">交通银行</span><span class="card_num" id="js_account">***************7131</span></div>
                            </li>
                            <li><label>结算单邮箱</label><div class="frm_div" id="js_email">783055476@qq.com</div></li>
                            <li>
                                <label>结算规则</label>
                                <div class="frm_div">
                                    <span>
                                        我们将在每月15号前（如遇法定节假日，将会推迟），对你上个月的收入进行结算，并发送结算单到你的结算单邮箱中。<br>若你是企业用户，需要按结算单邮件的要求邮寄与结算金额等额的发票给腾讯公司（只接受“增值税专用发票”，不接受“增值税普通发票”）。腾讯公司将在收到正确的发票后30个工作日内将结算金额打入你的结算银行卡。
                                        <br>若你是个人用户，无需邮寄发票，腾讯公司将在结算日后30个工作日内将结算金额打入你的结算银行卡，并代扣代缴个税。
                                    </span>
                                </div>
                            </li>
                            <li>
                                <label>付款延滞说明</label>
                                <div class="frm_div">
                                    <p>对于企业用户，若本月广告已结算金额不足500元，将不发起付款，结算金额将自动累计直至总额达500元以上，则在次月发起付款。如不足500元而急需收款，请发邮件申请，详细查看流量主帮助文档。</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="scale_tips" id="zoom_tips" style="display:none;">
        <div class="scale_tips_inner">
            <i class="icon_scale_tips"></i>
            <p class="scale_tips_content">
                <span id="zoom_msg"></span>
                <a href="javascript:;" id="zoom_prompt">不再提示</a>
            </p>
        </div>
    </div>

</body>
</html>