@{ 
    Layout=null;
}
<!DOCTYPE html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript">window._points=[+new Date];// 初始测速点</script>
    <title>广告投放</title>

    <link rel="stylesheet" href="//wximg.qq.com/tmt/mpa/dist/css/style-agency.22500c38.css" />
    <link rel="stylesheet" href="//wximg.gtimg.com/tmt/mpa/dist/css/style-moment-edit-template.f67a9dfe.css" />

    <style>
        a, a:hover {
            cursor: pointer;
        }

        html {
            height: auto;
        }
    </style>
    <script type="text/javascript">window._points[1]=+new Date;// css加载完成</script>

</head>
<body>
    <div class="" id="container"></div>
    <script type="text/html" id="tpl-apply-dialog">
        <div class="mod-dialog__body ui-ta-c">
            <p class="mod-dialog__label">输入联系方式，快速开通</p>
            <div class="mod-form__group">
                <label class="mod-form__label">
                    联系人
                </label>
                <div class="mod-form__controls">
                    <span class="mod-form__box">
                        <input id="person_name" type="text" class="input" />
                    </span>
                </div>
            </div>

            <div class="mod-form__group">
                <label class="mod-form__label">
                    联系电话
                </label>
                <div class="mod-form__controls">
                    <span class="mod-form__box">
                        <input id="person_tele" type="text" class="input" />
                    </span>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">window._points[2]=+new Date;// dom加载完成</script>
    

    <script src="~/Content/js/mpres/htmledition/promotion/lib-4cfcf54380.js"></script>
    
    <script src="~/Content/js/mpres/htmledition/promotion/_areas_level.js"></script>
    <script src="~/Content/js/mpres/htmledition/promotion/app-4526bf0599.js"></script>

    <script type="text/javascript">window._points[3]=+new Date;// js加载完成</script>
</body>
</html>