 
    
<div id="body" class="body ">

        <div id="js_container_box" class="container_box side_l cell_layout">
            <div class="col_side">
                @Html.Partial("Menu")

            </div>               
             <div class="col_main">
                <div class="main_bd" style="padding-right:0px; padding-left:0px;">
                    <iframe id="mpIFrame" name="mpIFrame" scrolling="no" width="100%" frameborder="0" style="background-color:#000" height="1400px;"
                            src="/publisher/readtemplate?t=publisher/host_report&aSource=&a1=&a2=&lang=zh_CN&token=533260301&lang=zh_CN"></iframe>
                </div>
            </div>
            <div class="faq">
                <ul class="links">
                    <li class="links_item"><a href="http://kf.qq.com/product/weixinmp.html" target="_blank">客服中心</a></li>
                    <li class="links_item"><a href="/acct/infringement?action=getmanual&t=infringement/manual&type=1&lang=zh_CN&token=533260301" target="_blank">侵权投诉</a></li>
                </ul>
                <p class="tail">反馈官号：weixingongzhong</p>

            </div>
        </div>
    </div>        
<div class="foot" id="footer">
        <ul class="links ft">
            <li class="links_item no_extra"><a href="http://www.tencent.com/zh-cn/index.shtml" target="_blank">关于腾讯</a></li>
            <li class="links_item"><a href="/cgi-bin/readtemplate?t=home/agreement_tmpl&type=info&lang=zh_CN&token=533260301" target="_blank">服务协议</a></li>
            <li class="links_item"><a href="/cgi-bin/readtemplate?t=business/faq_operation_tmpl&type=info&lang=zh_CN&token=533260301" target="_blank">运营规范</a></li>
            <li class="links_item"><a href="/cgi-bin/opshowpage?action=dispelinfo&lang=zh_CN&begin=1&count=9" target="_blank">辟谣中心</a></li>
            <li class="links_item"><a href="http://kf.qq.com/faq/120911VrYVrA1509086vyumm.html" target="_blank">客服中心</a></li>
            <li class="links_item"><a href="mailto:weixinmp@qq.com" target="_blank">联系邮箱</a></li>
            <li class="links_item"><p class="copyright">Copyright &copy; 2012-2017 Tencent. All Rights Reserved.</p> </li>
        </ul>
    </div>

