<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 微信公众平台</title>
    <link href="https://res.wx.qq.com/mpres/htmledition/images/favicon218877.ico" rel="Shortcut Icon">
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="~/Content/css/mpres/htmledition/layout_head2880f5.css" />
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="~/Content/css/mpres/htmledition/base2fde18.css" />
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="~/Content/css/mpres/htmledition/lib2f613f.css" />
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="~/Content/css/mpres/htmledition/stat_overview2f3a2e.css" />
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="~/Content/css/mpres/htmledition/pagination218878.css" />
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="~/Content/css/mpres/htmledition/date_range218878.css" />
    <link onerror="wx_loaderror(this)" rel="stylesheet" type="text/css" href="~/Content/css/mpres/htmledition/dropdown2f12f7.css" />
    <style type="text/css">
        .map_wrap {
            line-height: normal;
        }

        div {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<script type="text/javascript">

        window._points = [+new Date()];


        function wx_main(mod) {
            window._points && (window._points[3] = +new Date());
        };

        window.wx = {
            uin: "3083055985" || "0"
        };
</script>
<script onerror="wx_loaderror(this)" type="text/javascript" src="~/Content/js/mpres/htmledition/jserr2fa4d8.js"></script>

<body class="zh_CN @ViewBag.ClassBody">
    <div class="head" id="header">
        <script type="text/javascript">

            window._points && (window._points[1] = +new Date());
        </script>
        <div class="head_box">
            <div class="inner wrp">
                <h1 class="logo"><a href="/" title="微信公众平台"></a></h1>
                <div class="account">
                    <div class="account_meta account_info account_meta_primary">
                        <a href="#" class="nickname">飘飘的风</a>                                <span class="type_wrp"><a href="#" class="type icon_service_label">服务号</a>                                                                                                        <a href="/merchant/store?action=detail&t=wxverify/detail&info=verify&lang=zh_CN&token=1456171909" class="type icon_verify_label success">已认证</a>                                                        </span><a href="/cgi-bin/settingpage?t=setting/index&action=index&token=1456171909&lang=zh_CN">
                            <img src="~/Content/css/mpres/htmledition/images/getheadimg.png" class="avatar">
                        </a>
                    </div>
                    <div id="accountArea" class="account_meta account_inbox account_meta_primary"><a href="#" class="account_inbox_switch"><span class="icon_dot_notices">14                        <span class="icon_dot_notices_left"></span><span class="icon_dot_notices_right"></span></span></a></div>
                    <div class="account_meta account_logout account_meta_primary"><a id="logout" href="#">退出</a></div>
                </div>
            </div>
        </div>
    </div>
        @RenderBody()
    
    <script type="text/html" id="js_faqscene_tpl">
        <div class="faqscene" id="js_faqscene_p">
            <div class="faqscene_inner">
                <div class="faqscene_name js_faq_trigger">常见问题</div>
                <div class="faqscene_panel js_faq_main_panel">
                    <a href="###" class="faqscene_close">x</a>
                    <div class="faqscene_hd">{data.question}</div>
                    <div class="faqscene_bd">
                        <div class="faqscene_tabs">
                            <div class="faqscene_tab_hd">
                                <ul class="js_faq_class1"></ul>
                            </div>
                            {if data.guide_list.length>1}
                            {/if}
                            {each data.guide_list as guide i}
                            {if guide}
                            <div class="faqscene_tab_bd js_faqscene_content">
                                <ul>
                                    {each guide.subitems as subitem i}
                                    {if subitem}
                                    <li><a target="_blank" href="{subitem.kf_url}">{subitem.title}</a></li>
                                    {/if}
                                    {/each}
                                </ul>
                            </div>
                            {/if}
                            {/each}
                        </div>
                    </div>
                    <div class="faqscene_ft"><a href="{data.more_help.kf_url}" target="_blank">{data.more_help.title}</a></div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">

        ;;; (function () {

            var jq = jQuery;
            var dom = null;
            var panel = null;
            var close = null
            var faqArea = null;
            var timer = null;
            var tab_heads = null;
            var tab_contents = null;
            var token = "798083537"
            var report_id = null;


            function loadDataAndInit() {
                var param = "&cginame=" + urlParser.parser.pathname.replace(/^\//, '');
                var tValue = urlParser.getParam("t");
                var actionValue = urlParser.getParam("action");
                var pluginid = urlParser.getParam('pluginid');

                param += token
                         ? ("&token=" + token)
                         : "";
                param += tValue
                         ? ("&t=" + tValue)
                         : ("&action=" + actionValue);
                param += pluginid
                         ? ("&pluginid=" + pluginid)
                         : "";

                var getFAQUrl = "/misc/faq?action=getfaq&lang=zh_CN&f=json" + param;

                $.ajax({
                    type: "GET",
                    url: getFAQUrl
                }).success(function (data) {
                    if (data.base_resp.ret !== 0) return;
                    wx.faq_list = data.base_resp.assistant.problem;
                    if (!wx.faq_list.question) return;
                    renderFaq();
                    makeActions();
                    initReport();
                    panel.hide();
                    goto(0);
                }).error(function (error) {
                    ;
                });
            }

            function renderFaq() {
                jq("body").append(template.render("js_faqscene_tpl", { data: wx.faq_list }));
                dom = jq("#js_faqscene_p");
                panel = dom.find(".js_faq_main_panel");
                close = dom.find(".faqscene_close");
                faqArea = dom.find(".faqscene_inner");
                timer = null;
                tab_heads = dom.find(".js_faq_class1 li");
                tab_contents = dom.find(".js_faqscene_content");
            }


            function goto(idx) {
                var $currentTab = tab_heads.eq(idx);
                tab_contents.hide();
                subitem = $currentTab.find("a").text();
                report_id = (idx === 0)
                          ? wx.faq_list.guide_list[0].report_id
                          : $currentTab.data("report-id");
                jq(tab_contents[idx]).show();
                tab_heads.find("a").removeClass("active");
                jq(tab_heads[idx]).find("a").addClass("active");
            }

            function makeActions() {
                tab_heads.click(function () {
                    var idx = jq(this).index();
                    goto(idx);
                });


                close.on("click", function (event) {
                    event.preventDefault();
                    clearTimeout(timer);
                    panel.hide();
                });


                faqArea.on("mouseover", function () {
                    clearTimeout(timer);
                    panel.show();
                });

                faqArea.on("mouseout", function (event) {
                    timer = setTimeout(function () {
                        panel.hide();
                    }, 300);
                });
            }


            var subitem = null;
            var questText = "none";
            var questLink = "none";
            var urlParser = new URLParser(window.location.href);

            function initReport() {
                subitem = wx.faq_list.guide_list[0].itemname;
                report_id = wx.faq_list.guide_list[0].report_id;

                jq("div.js_faqscene_content").find("a").click(function (event) {
                    var $question = jq(this);
                    questText = $question.text();
                    questLink = $question.attr("href");
                    var reportData = getReportData();
                    report(reportData);
                });

                jq("div.faqscene_ft a").click(function (event) {
                    var $more = jq(this);
                    questText = $more.text();
                    var reportData = getReportData();
                    reportData.report_id = wx.faq_list.help_report_id;
                    report(reportData);
                });
            }


            function report(data) {

                var reportUrl = "/misc/faq?action=report"
                $.ajax({
                    url: reportUrl,
                    data: data,
                    type: "POST"
                }).success(function (data) {

                });
            }


            function getReportData() {
                var data = {};
                data.report_id = report_id;
                data.question = questText;
                data.action = "report";

                return data;
            }



            function URLParser(url) {


                var $el = jq("<a></a>").attr("href", url);
                this.el = $el.get(0);
                this.parser = this.el;
            }


            URLParser.prototype.getParam = function (key) {
                var KEY_REG = new RegExp("([\?&])" + key + "=([^&#]*)([&#])?");
                var result = this.el.search.match(KEY_REG);
                return result
                       ? result[2]
                       : null;
            };


            loadDataAndInit();
        })();
    </script>
</body>
</html>