.intro:first-child {
    border-top-width: 0;
}

.bn {
    border: 0;
}

.intro {
    padding-top: 22px;
    padding-bottom: 10px;
}

    .intro .intro_title_ico {
        display: block;
        height: 100px;
        width: 100px;
        margin-right: 5px;
    }

    .intro.intro_img dl {
        width: 420px;
    }

    .intro.intro_img .img_panel {
        width: 300px;
        height: 300px;
        border: 1px solid #000;
    }

    .intro dt .ico {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 6px 8px 0 0;
    }

    .intro dt .ico_intro {

        background: url("../../images/page_service_package_intro_z21b651.png") 0 0 no-repeat;
    }

    .intro dt .ico_price {
        background: url("../../images/page_service_package_intro_z21b651.png") 0 -26px no-repeat;
    }

    .intro dt .ico_state {
        background: url("../../images/page_service_package_intro_z21b651.png") 0 -62px no-repeat;
    }

    .intro dt .ico_rights {
        background: url("../../images/page_service_package_intro_z21b651.png") 0 -88px no-repeat;
    }

    .intro dt .ico_pen {
        background: url("../../images/page_service_package_intro_z21b651.png") 0 -114px no-repeat;
    }

    .intro dt .ico_waiting {
        background: url("../../images/page_service_package_intro_z21b651.png") 0 -140px no-repeat;
    }

    .intro dt .intro_title {
        height: 100px;
        line-height: 100px;
        font-size: 22px;
    }

        .intro dt .intro_title .icon_common {
            margin-top: -6px;
        }

    .intro dt .ico_approve {
        background: url("../../images/page_service_package_intro_z21b651.png") 0 -166px no-repeat;
    }

    .intro dt h3 {
        display: inline-block;
        height: 26px;
        line-height: 26px;
        vertical-align: top;
        font-size: 14px;
        font-weight: normal;
    }

    .intro dd {
        padding-left: 24px;
        margin: 0;
        font-size: 14px;
        line-height: 1.8em;
        color: #8d8d8d;
    }

        .intro dd p .red {
            color: #b11516;
        }

        .intro dd ul {
            list-style-type: disc;
            margin-left: 1.3em;
        }

            .intro dd ul li .red {
                color: #b11516;
            }

        .intro dd.intro_msg_group {
            position: relative;
        }

            .intro dd.intro_msg_group .intro_msg_l {
                margin-right: 36%;
                *margin-right: 32%;
            }

            .intro dd.intro_msg_group .intro_msg_r {
                position: absolute;
                top: 0;
                right: 0;
                width: 200px;
            }

                .intro dd.intro_msg_group .intro_msg_r .ico {
                    height: 79px;
                    width: 51px;
                    margin-right: 5px;
                    background: url("../../images/page_service_package_intro_z21b651.png") 0 -192px no-repeat;
                }

.big {
    font-size: 25px;
    margin-right: 10px;
}

.table_msg {
    border: 1px solid #e7e7eb;
}

    .table_msg table {
        border-collapse: collapse;
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

        .table_msg table .table_cell.cell_title {
            color: #222;
        }

        .table_msg table thead {
            background-color: #f4f5f9;
        }

            .table_msg table thead tr td {
                color: #222;
                height: 32px;
                line-height: 32px;
                text-align: left;
                padding-left: 12px;
                border-bottom: 1px solid #e7e7eb;
            }

            .table_msg table thead tr .last_td {
                border-right: 0;
            }

        .table_msg table tbody tr td {
            height: 31px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: left;
            border-bottom: 1px solid #e7e7eb;
        }

            .table_msg table tbody tr td a {
                color: #459ae9;
            }

            .table_msg table tbody tr td .enpty {
                display: block;
                text-align: center;
            }

            .table_msg table tbody tr td .table_cell_footer_msg {
                text-align: center;
            }

        .table_msg table tbody tr:nth-child(even) {
            background-color: #fff;
        }

        .table_msg table tbody .last_tr td {
            border-bottom: 0;
        }

.icon_step_list {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
}

    .icon_step_list.step {
        background: url("../../images/page_service_package_intro_z21b651.png") 0 -280px no-repeat;
        line-height: 25px;
    }

.step_list {
    padding-left: 85px;
}

.step_item h4 {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.step_inner {
    *zoom: 1;
    border-top: 1px solid #e6e7ec;
    padding: 20px 0 25px;
}

    .step_inner:after {
        content: "\200B";
        display: block;
        height: 0;
        clear: both;
    }

    .step_inner:first-child {
        border-top: 0;
    }

.step_content {
    overflow: hidden;
}

.step_desc {
    font-size: 14px;
    color: #7b7b7b;
}

.step_list_opr {
    margin-top: .5em;
    margin-left: 1em;
    float: right;
}

    .step_list_opr .btn {
        min-width: 8em;
        padding-left: 0;
        padding-right: 0;
    }

    .step_list_opr .btn_disabled {
        background: 0;
        border: 0;
        background-color: #d4d4d4;
        border-color: transparent;
    }

.step_box {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
    min-height: 56px;
    border: 1px solid #e6e7ec;
}

    .step_box .arrow_wrapper {
        position: absolute;
        left: -7px;
        top: 20px;
    }

    .step_box .arrow_out {
        display: inline-block;
        width: 0;
        height: 0;
        border-width: 7px;
        border-style: dashed;
        border-color: transparent;
        border-left-width: 0;
        border-right-color: #e6e7ec;
        border-right-style: solid;
        position: absolute;
        left: -1px;
    }

    .step_box .arrow_in {
        display: inline-block;
        width: 0;
        height: 0;
        border-width: 7px;
        border-style: dashed;
        border-color: transparent;
        border-left-width: 0;
        border-right-color: #fff;
        border-right-style: solid;
        position: absolute;
    }

.icon_step_wrapper {
    position: absolute;
    left: -55px;
    top: 13px;
}

.icon_step_list {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 16px;
}

.icon_step_line {
    position: absolute;
    display: inline-block;
    background-color: #e6e7ec;
    width: 3px;
    left: -44px;
}

.icon_step_line_up {
    height: 30px;
    top: -17px;
}

.no_extra_up .icon_step_line_up {
    display: none;
}

.icon_step_line_down {
    height: 100%;
    top: 35px;
}

.no_extra_down .icon_step_line_down {
    display: none;
}

.clr {
    height: 1px;
    clear: both;
}

.service_package_intro {
    padding: 8px 63px;
}

    .service_package_intro .tool_bar {
        margin-left: 0;
        margin-right: 0;
    }

    .service_package_intro .title {
        border-bottom: 2px solid #c6c6c6;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: normal;
    }

.intro_group {
    border-bottom: 1px solid #d6d6d6;
}

.service_package_intro .intro_group .intro_l, .service_package_intro .intro_group .intro_r {
    width: 47%;
}

    .service_package_intro .intro_group .intro_l dd, .service_package_intro .intro_group .intro_r dd {
        border: 0;
    }

.service_package_intro .intro_rights dd {
    padding-left: 0;
}

.tool_bar {
    margin-left: 30px;
    margin-right: 30px;
}

.table_msg table thead tr td {
    width: 54px;
    width: auto\0;
}

.table_msg table tbody tr td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.intro_rights {
    padding-top: 0;
    padding-bottom: 20px;
}

    .intro_rights dt {
        margin-bottom: 5px;
    }

.lay_card .content .mesg {
    margin-right: 78px;
}

.lay_card .content .sub_mesg {
    width: auto;
}

    .lay_card .content .sub_mesg .oper {
        width: auto;
        *width: 80px;
    }

.lay_card .content .mesg {
    padding: 8px 15px;
}

.intro .dd_group {
    position: relative;
}

    .intro .dd_group ul {
        width: 477px;
        *width: 390px;
    }

    .intro .dd_group .pre_view_panel {
        position: absolute;
        top: 0;
        right: 0;
        width: 287px;
        height: 280px;
        background: transparent url(/mpres/htmledition/images/tmpl_preview_img2218877.png) no-repeat 0 0;
    }

.intro dd .warning {
    color: #e15f63;
}

li.step_item {
    list-style-type: none;
}
